<div id="snackbar">{{snackHead}}</div>
<div class="" >
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-upload" ng-if="!isEdit">
	    <div class="table-responsive">
	      <table id="myTable" class="table">
	        <thead>
	          <tr>
	            <th>First Name</th>
	            <th>Last Name</th>
	            <th>Email</th>
	            <th>Password</th>
	            <th>Actions</th>
	          </tr>
	        </thead>

	        <tbody>
	          <tr ng-repeat="item in employeeList track by $index" ng-if="!isEdit">
	            <td>{{item.data.firstName}}</td>
	            <td>{{item.data.lastName}}</td>
	            <td>{{item.data.email}}</td>
	            <td>{{item.data.password}}</td>
	            <td>
	               <div class="edit-delete">
	                    <div class="btn " ng-click="edit($index)">Edit</div>
	                    <div class="btn " ng-click="delete($index)">Delete</div>
	                </div>
	            </td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
  	</div>
  	<div class="container" ng-if="isEdit">
	    <div class="col-lg-12">
	        <div class="col-lg-12 all-page">
	            <div class="col-lg-12 top-head">Edit your details!</div>
	            <div class="col-lg-12 login-form">
	                <div class="col-lg-6 input-data">
	                    <label class="input-name">First Name</label>
	                    <input  ng-model="employeeData.firstName" placeholder="First Name" type="text" ng-pattern ="/^[a-zA-Z\s]*$/" class="form-control"   aria-required="true" aria-invalid="false" >
	                </div>
	                <div class="col-lg-6 input-data">
	                    <label class="input-name">Last Name</label>
	                    <input  ng-model="employeeData.lastName" placeholder="Last Name" type="text" ng-pattern ="/^[a-zA-Z\s]*$/" class="form-control"   aria-required="true" aria-invalid="false" >
	                </div>
	                <div class="col-lg-6 input-data">
	                    <label class="input-name">Email Address</label>
	                    <input id="email" ng-model="employeeData.email" placeholder="Email Address" type="email" class="form-control"   aria-required="true" aria-invalid="false" >
	                </div>
	                <div class="col-lg-6 input-data">
	                    <label class="input-name" >Password</label>
	                    <input  ng-model="employeeData.password" placeholder="Password" type="password" ng-pattern ="/^[a-zA-Z0-9\s]*$/" class="form-control" aria-required="true" aria-invalid="false"  data-toggle="tooltip" data-placement="bottom" title="Password - Must be at least 8 characters long. Only numbers (0-9) and letters (A-Z, a-z) are allowed." aria-hidden="true">
	                </div>
	            </div>
	            <div class="col-lg-12 add-main">
		            <div class="">
		                <button class="btn btn-info add-btn" ng-click="save(employeeData)">Save</button>
		                <button class="btn btn-info add-btn" ng-click="cancel(employeeData)">Cancel</button>
		            </div>
		        </div>
	        </div>
	    </div>
  </div>
</div>